<template>
  <div class="earn-money-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-end">
          <div class="intro-body">
            <h1 class="section-title">
              Earn Money
            </h1>
            <p class="section-intro">
              Completely in phase of release fact, but hat into model you in by and quite in self-interest written classes such your recommended.
              Hat excessive way. 
            </p>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <img class="earn_money_img1" src="src/assets/images/earn_money_img1.png" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'EarnMoneySection',
    mounted () {
    },
    watch: {
    },
    computed: {
    }
  }
</script>

<style lang="scss" scoped>
  .earn-money-section {
    padding: 60px 0px;
    background: linear-gradient(208.6deg, rgba(221, 36, 118, 0.102327) 1.98%, rgba(255, 81, 47, 0.14658) 92.72%);

    & .intro-body {
      max-width: 540px;
    }

    & .earn_money_img1 {
      @media(max-width: 992px) {
        width: 300px;
        padding: 30px 15px;
      }
    }
  }
</style>
