<template>
  <div class="featured-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="featured-title">
            As featured in
          </h4>
        </div>
        <div class="col-md-12 brand-part">
          <img src="src/assets/images/features/brand1.png" />
          <img src="src/assets/images/features/brand2.png" />
          <img src="src/assets/images/features/brand3.png" />
          <img src="src/assets/images/features/brand4.png" />
          <img src="src/assets/images/features/brand5.png" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'FeaturedSection',
    mounted () {
    },
    watch: {
    },
    computed: {
    }
  }
</script>

<style lang="scss" scoped>
  .featured-section {
    padding: 60px 0px;
    background: #e7e9f3;

    & .featured-title {
      font-family: 'SFPro-Regular';
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-small + 2;
      line-height: 19px;
      color: #7F8599;
      text-align: center;
    }

    & .brand-part {
      display: flex;
      justify-content: space-around;
      margin-top: 50px;

      @media(max-width: 768px) {
        display: flow-root;
        & img {
          margin-right: 15px;
        }
      }

      text-align: center;
    }
  }
</style>
