
// GLOBAL
$transition: 120ms;
$finger-size: 46px;
$border-radius: 4px;

// COLOR
$color-primary: #1A1B46;
$color-second: #4D4E6E;
$color-third: #335CFE;
$color-success: #1ecf72;
$color-warning: #fc7a5d;
$color-dark: #323232;
$color-light: #777;

// BG
$bg-primary: #F2F2F2;

//
$color-text-light: $color-light;
$color-text-dark: $color-dark;

// FONT
$font-family-fallback: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family: "Raleway", $font-family-fallback;
$font-line-height: 1.4;

$font-size-normal: 18px;
$font-size-small: 14px;
$font-size-big: 52px;

$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;
